##====---- appveyor.yml                                               ----====##
version: "{build}"
# fetch repository as a zip archive
shallow_clone: true

cache:
- C:\Users\appveyor\Tools\cache\vcpkg
- C:\Tools\vcpkg\installed

##====-----------------
## Create_Matrix
image:
- Visual Studio 2019
- Visual Studio 2017

platform:
- x86
- x64

configuration:
- Debug
- Release
- LLVM_Debug
- LLVM_Release

environment:
  matrix:
  - job_name:  Build Library Dependencies
    job_group: &Depend Dependencies
    platform: all
  - job_depends_on: *Depend
    BUILDSYSTEM: &Build_Ninja Ninja
  - job_name: Second
    job_depends_on: *Depend
    BUILDSYSTEM: &Build_Solution MSBuild_Solution
    CONDITION: &MSBuild_cond_main main_branch_only

for:
-
  branches:
    only:
    - master
  notifications:
  - provider: Email
    to: '{{committerEmail}}'
    on_build_success: false
-
  matrix:
    only:
    - job_group: *Depend
  install:
  - ps: Update-Vcpkg
  build_script:
  - vcpkg install ms-gsl:x64-windows ms-gel:x86-windows


##====--------------------------------------------------------------------====##
init:
- ps: |
    New-Item -ItemType Directory -Force ~\tools | pushd
    git clone https://github.com/Farwaykorse/AppVeyorHelpers.git --quiet
    Import-Module -Name .\AppVeyorHelpers -MinimumVersion 0.14.1
    popd
- ps: Show-SystemInfo -LLVM -CMake -Curl -Ninja -Path

##====--------------------------------------------------------------------====##
before_build:
- cd %APPVEYOR_BUILD_FOLDER%

build_script:
- vcpkg list


